table {
    width:100%;
    background-color : #808080;
}

th.mat-header-cell {
    text-align: left;
    background: #ffa64d;
    color: black;
    border: 1px groove #e0e0e0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: black;
}

.mat-row:nth-child(even){
    background-color: #ffe5cc;
}
  
.mat-row:nth-child(odd){
    background-color:#FFFFFF;
}
.mat-paginator {
    background: #9a9898;
}