  <div class="example-container mat-elevation-z8">
    
    <div class="table">
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="NewsHeader">
          <th mat-header-cell *matHeaderCellDef> News Header </th>
          <td mat-cell *matCellDef="let element">{{element.NewsHeader}} </td>
        </ng-container>
    
        <ng-container matColumnDef="PublishDateTime">
          <th mat-header-cell *matHeaderCellDef> Publish Date Time </th>
          <td mat-cell *matCellDef="let element"> {{element.PublishDateTime}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
    </div>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>