/* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;    
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 2;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .brand-name{
    padding: 8px;;
  }
  .brand-name:hover{
    background: #8dbff2;
    color:white;
    cursor: pointer;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    /* display: flex; */
    margin-top: 65px;
    padding: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*margin-left: 10%;
    margin-right: 10%;*/
    /*background: darkgrey;*/
    /* flex-direction: row; */
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  #footer { 
    position: fixed; 
    padding: 20px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    /* Height of the footer*/  
    height: 20px; 
    background: #ffa64d; 
    align-items: center;
} 

  footer {
    position: fixed;    
    background:#ffa64d;
    display: flex;
    bottom: 0;
    align-items: center;
    height: 4%;
    width: 100%;
  }

  footer a {
    display: flex;
    margin: auto;
    padding: 10%;
    align-items: center;
  }
  .footer{
    margin: 0 auto;}
    
  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  .dvMenu a
  {
    color: #b0bec5;
    margin:0 16px;
  }
  
  .dvMenu a:hover
  {
    color: #125699;
  }

  .mat-paginator {
    background: #9a9898;
}