<div class="table-heading">
  <h1 class="center-text">News Analytics for Counterparty Credit Risk</h1>
</div> 
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
  <button mat-button matPrefix mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
<div class="example-container mat-elevation-z8">
  
  <div class="table">
    <table mat-table [dataSource]="dataSource" matSort >
  
      <!-- Position Column -->
      <ng-container matColumnDef="Counterparty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Counterparty </th>
        <td mat-cell *matCellDef="let element"><a class="dashboardlink" routerLink="/detail/{{element.Id}}" >{{element.Counterparty}} </a></td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="UltimateParentCounterParty">
        <th mat-header-cell *matHeaderCellDef> Ultimate Parent CounterParty </th>
        <td mat-cell *matCellDef="let element"> {{element.UltimateParentCounterParty}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="BanLegalEntity">
        <th mat-header-cell *matHeaderCellDef> Ban Legal Entity </th>
        <td mat-cell *matCellDef="let element"> {{element.BanLegalEntity}} </td>
      </ng-container>

      <ng-container matColumnDef="MTMNet">
        <th mat-header-cell *matHeaderCellDef> MTMNet(Mn$) </th>
        <td mat-cell *matCellDef="let element"> {{element.MTMNet}} </td>
      </ng-container>

      <ng-container matColumnDef="CVA">
        <th mat-header-cell *matHeaderCellDef> CVA </th>
        <td mat-cell *matCellDef="let element"> {{element.CVA}} </td>
      </ng-container>

      <ng-container matColumnDef="NewsAnalyticsScore">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> News Analytics Score </th>
        <td mat-cell *matCellDef="let element"
        [ngClass]="{
            'red' : element.NewsAnalyticsScore >= 95,
            'orange' : element.NewsAnalyticsScore >=85 && element.NewsAnalyticsScore < 95,
            'yellow' : element.NewsAnalyticsScore >=70 && element.NewsAnalyticsScore < 85,
            'green' : element.NewsAnalyticsScore < 70
         }"> {{element.NewsAnalyticsScore}}  </td>
      </ng-container>

      <ng-container matColumnDef="PredictedProbablity">
        <th mat-header-cell *matHeaderCellDef> Predicted Probablity </th>
        <td mat-cell *matCellDef="let element"> {{element.PredictedProbablity}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="CreditRating">
        <th mat-header-cell *matHeaderCellDef> Credit Rating </th>
        <td mat-cell *matCellDef="let element"> {{element.CreditRating}} </td>
      </ng-container>

      <ng-container matColumnDef="LastRefreshTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Refresh Time </th>
        <td mat-cell *matCellDef="let element"> {{element.LastRefreshTime}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9">No data matching the filter "{{input.value}}"</td>
      </tr>
      
    </table>
  </div>
    <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
  </div>