.example-container {
    /* height: 90vh;
    width: 100vw;
    padding: 2px;
    /*margin:0 10%; */
    /*overflow: hidden; */
    width: 100%;
    margin: 0 auto;
    
  }

.table-heading {
  margin: 2px auto;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
  }

.center-text {
  margin: 0 auto;
  font-weight: bolder;
  font-size: 3em;
  padding: 4px;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
  margin-left:60%;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  /* color: rgba(255,255,255,.7); */
  color: black !important;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: black !important;;
}

.table{
  overflow-x: auto;
}

table {
    width:100%;
    background-color : #808080;
  }

th.mat-header-cell {
    text-align: left;
    background: #ffa64d;
    color: black;
    border: 1px groove #e0e0e0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: black;
}
.dashboardlink
{
color: BLACK;  
}

.red{
  /*background: red;*/
  color: red !important;
  text-align: right
}
.orange{
  /*background: orange;*/
  color: orange !important;
  text-align: right
}
.yellow{
  /*background: yellow;*/
  color: yellow !important;
  text-align: right
}
.green{
  /*background: green;*/
  color: green !important;
  text-align: right
}
.mat-row:nth-child(even){
  background-color: #ffe5cc;
  }

.mat-row:nth-child(odd){
  background-color:#FFFFFF;
  }

  .mat-paginator {
    background: #9a9898;
    /*margin-bottom: 100px;*/
}


