
.table-heading {
  margin: 2px auto;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
  }
  
.flexboxcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: stretch;
}

.flexboxcontainer > div {
    /*width: 700px;*/
    margin: 10px;
    flex: 1;
    /*text-align: center;
    line-height: 75px;
    font-size: 30px;*/
  }

  .mat-paginator {
    background: #9a9898;
}
